body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form {
    margin: 20px;
}

input, textarea {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}

#recipes {
    margin-top: 20px;
}

.recipe {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 10px;
}